#Individual file
489-tampere-autumn 2024.json

#Data
data/*
!data/placeholder.md
!data/*.dvc

#ML Models
models/*
!models/placeholder.md
!models/*.dvc

#Pythin cache files
__pycache__/
__pycache__/*

#VS code
.vscode/
.vscode/*
