#Individual file
489-tampere-autumn 2024.json

#Ignore all filetypes
*.json
*.joblib


#Data
data/example.txt

#ML Models


#Python cache files
__pycache__/
__pycache__/*

#Pytest
.coverage
htmlcov/
.pytest_cache/

#VS code
.vscode/
.vscode/*
