
.column {
    width: 30%;

    background-color: rgb(218, 218, 218);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    
    padding: 10px;
    
    border: solid 1px black;
    border-radius: 0.25rem;

    &>.column-name {
        font-size: larger;
        padding-left: 1rem;
    }

    &>.drag-area {
        margin-top: 5px;
        min-height: 10em;
        border-radius: 0.5rem;
    }
}