
#columns {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    // background-color: black;
    // color: azure;
    align-items: start;
    justify-content: space-between;
    width: auto;
}